<h1 class='text-center'>Your feed</h1>

<% @posts.each do |post| %>
  <p><%= post.message %></p>
  <%= render partial: "comments/form", locals: {post: post} %>
  <div id='comments-<%= post.id %>'>
    <%= render post.comments.order("created_at": :desc)%>
  </div>
<% end %>


