<%= form_for @post do |form| %>
  <div>
    <%= form.label :message, class: "form-label mt-3" %>
    <%= form.text_field :message, class: "form-control" %>
  </div>
  <div>
    <%= form.submit "Submit", class: 'btn btn-primary mt-3' %>
  </div>
<% end %>
