<h1 class="text-center">Add post</h1>

<%= form_for @post do |form| %>
  <div>
    <%= form.label :message, class: "form-label mt-3" %>
    <%= form.text_area :message, rows: 10, class: "form-control", placeholder: "Enter your post content" %>

  </div>
  <div>
    <%= form.submit "Add post", class: 'btn btn-primary mt-3' %>
  </div>
<% end %>
