@import 'bootstrap/dist/css/bootstrap';

body {
  font-family: 'Ubuntu', sans-serif !important;
}
.container {
  margin-top: 2em;
}
.container-mx-wth-500 {
  max-width: 500px;
  margin: 0 auto;
}
.btn {
  width: 100%;
}
.link-custom {
  display: grid;
}
.grid-image {
  width: 40px !important;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

// .flex-child {
//   flex: 1;
//   border: 2px solid yellow;
// }

// .flex-child:first-child {
//   margin-right: 20px;
// }
