@import 'bootstrap/dist/css/bootstrap';

body {
  font-family: 'Ubuntu', sans-serif !important;
}
.container {
  margin-top: 2em;
}
.container-mx-wth-500 {
  max-width: 500px;
  margin: 0 auto;
}
.btn {
  width: 100%;
}
.link-custom {
  display: grid;
}
.page-grid {
  padding-top: 10px;
  padding-left: 20%;
  padding-right: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 10px;
}
.grid-image {
  width: 40px !important;
}
.grid-name {
  grid-column: span 6;
}

// .flex-child {
//   flex: 1;
//   border: 2px solid yellow;
// }

// .flex-child:first-child {
//   margin-right: 20px;
// }
