@import 'bootstrap/dist/css/bootstrap';

/* Generics */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Ubuntu', sans-serif !important;
}

p {
  margin: 0;
  padding: 0;
  font-size: 14px;
}

.btn.btn-primary {
  width: 100%;
}

.btn.btn-light {
  background-color: #f1f1f1;
  width: 100%;
}

.btn.btn-light:hover {
  background-color: #e1e1e1;
}

/* Card */

.card {
  width: 100%;
}

.container {
  margin-top: 2em;
}

.page-grid {
  max-width: 600px;
  margin: 0 auto;
}

/* Card Top */

.card-body.top {
  display: flex;
  flex-direction: row;
  padding: 0 0.9rem;
}

.flex-left-top {
  display: flex;
  flex: 1 1 6%;
  justify-content: center;
  align-items: center;
}

.flex-right-top {
  flex: 1 1 96%;
  padding: 10px;
}

.card-body.top .post-username {
  font-weight: 500;
  text-decoration: none;
  color: #393939;
}

.card-body.top .post-username:hover {
  color: #000;
}

.flex-right-top p.text-muted {
  font-weight: 100;
  font-size: 13px;
}

.grid-image {
  width: 40px !important;
}

.flex-right-top p {
  margin-bottom: 0;
}

.edit-post {
  padding: 0.9rem 0.2rem;
  font-size: 16px;
  color: #393939;
  text-decoration: none;
}

.edit-post:hover {
  color: #000;
}

/* Card Image */

img.card-img-top {
  border-radius: 0;
}

/* Stats */

.flex-stats {
  display: flex;
  flex-direction: row;
  padding: 0.9rem 0 6px;
  color: #707070;
}

.flex-stats-likes {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1 1 50%;
  font-size: 14px;
}

.flex-stats-comments {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}
.flex-stats-comments a {
  text-decoration: none;
  color: #707070;
}

.flex-stats-comments a:hover {
  color: #707070;
  text-decoration: underline;
}

/* Card Bottom */

.card-body.bottom {
  padding: 0 0.9rem 0.9rem;
}

.card-text {
  font-weight: 300;
  font-size: 18px;
  padding: 0;
  margin: 0;
}

.comment-like-container {
  display: flex;
  flex-direction: row;
  margin: 0 0 0.9rem;
}

.flex-likes {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 1 50%;
  border-top: 1px solid #d1d1d1;
  border-bottom: 1px solid #d1d1d1;
  padding: 4px;
}

.flex-comments {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #d1d1d1;
  border-bottom: 1px solid #d1d1d1;
  flex: 1 1 50%;
  padding: 4px;
}

.button_to {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 1 50%;
}

#like-button,
#comment-button {
  font-size: 14px;
  display: flex;
  flex: 1 1 50%;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border: 0;
  padding: 4px 40px;
  border-radius: 6px;
  color: #5c5c5c;
  transition: background-color 0.2s ease-in;
}

#like-button:hover,
#comment-button:hover {
  background-color: #efefef;
}

button > .fa-thumbs-up {
  margin-right: 4px;
}

button > .fa-comment-alt {
  margin-right: 6px;
}

/* Card Bottom - Add Comment */

.flex-comment-form {
  margin-bottom: 0.9rem;
}

.flex-add-comment {
  display: flex;
  flex-direction: row;
}

#add-comment-field {
  display: flex;
  flex: 1 1 88%;
  width: 100%;
  border: 0;
  background-color: #f1f1f1;
  border-radius: 20px;
  font-size: 14px;
}

#add-comment-field input {
  display: flex;
  flex: 1 1 88%;
  width: 100%;
  padding: 6px 14px 5px;
  border: 0;
  background-color: #f1f1f1;
  border-radius: 20px;
  font-size: 14px;
}

#add-comment-field input:focus {
  border: 0;
  outline: none;
}

#add-comment-button,
#add-comment-button input {
  display: flex;
  flex: 1 1 2%;
  border: 0;
  padding: 6px 8px 6px 6px;
}

#add-comment-button i {
  color: #858585;
  transition: color 0.2s ease-in;
}

#add-comment-button i:hover {
  color: #2b2b2b;
}

/* Card Bottom - View Comment */

.comment-box p {
  margin: 0;
}

.comments-count {
  cursor: pointer;
}

.flex-comment-box {
  display: flex;
  margin: 12px 0 2px 0;
}

.flex-comment-avatar {
  display: flex;
  flex: 1 1 4%;
  align-items: center;
}

.flex-comment-username {
  display: flex;
  flex: 1 1 96%;
  font-weight: 500;
  font-size: 15px;
}

.avatar-sm {
  display: flex;
  align-items: center;
  width: 20px;
  margin-right: 8px;
  opacity: 0.9;
}

.show-more,
.show-less {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.hidden {
  display: none;
}

.visible {
  display: block;
}
